@charset "UTF-8";

.commentContainer{
	padding-top:30px;
	padding-bottom:20px;
  box-shadow: 0 5px 25px 0 rgba(214, 215, 216, 0.6);
	padding-left: 300px;
}
.boardContainer{
	padding-top:50px;
	padding-bottom:50px;
  box-shadow: 0 5px 25px 0 rgba(214, 215, 216, 0.6);
	padding-left: 250px;
}
.tourContainer{
	padding-top:50px;
	padding-bottom:50px;
  box-shadow: 0 5px 25px 0 rgba(214, 215, 216, 0.6);
	padding-left: 100px;
}
.bwCon{
	padding-top:50px;
	padding-bottom:50px;
  box-shadow: 0 5px 25px 0 rgba(214, 215, 216, 0.6);
	padding-left: 300px;
	font-family: 'Binggrae';
	font-size: 17px;
	color: #5c768d;
}
@font-face {
    font-family: 'Binggrae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.commentSection{
  padding-bottom: 30px;
  padding-top: 30px;
}
#boardList{
  padding-bottom: 30px;
  padding-top: 30px;
}
#boardWrite{
  padding-bottom: 30px;
  padding-top: 30px;
}

.boardList h1{
	color: #5c768d;
}
.boardTitle{
	text-align:center;
	margin-bottom: 30px;
	color: #5c768d;
	font-family: 'Binggrae';
}
.boardView td{
	width: 200px;
}
.boardView .brdContent{
	width: 500px;
}
.boardView tr{
	word-break:break-all;
}
.commentList{
	color: #5c768d;
}

#commentJSON{
	text-align: center;
	width: 600px;
	word-break:break-all;
}

#boardJSON{
	text-align: center;
	width: 700px;
	word-break:break-all;
}

.logoutBtn{
	padding-top: 0.5em;
}

.clear {
    clear:both;
}

/* 페이징 */
.pagination{
    text-align: center;
}

.container ul.pagination{
	list-style-type:none
}

ul.pagination li{
    display: inline-block;
}

ul.pagination a {
    color: black;
    float: left;
    padding: 4px 8px;
    text-decoration: none;
    transition: background-color .3s;
    margin: 0px;
}

ul.pagination a.active {
    background-color: #5c768d;
    color: white;
    border: 1px solid #5c768d;
}

ul.pagination a:hover:not(.active) {background-color: #5c768d;}

/* 로그인 페이지 */
#loginPage{
  padding-bottom: 30px;
  padding-top: 30px;
}

.loginContainer{
	padding-top:50px;
	padding-bottom:50px;
  box-shadow: 0 5px 25px 0 rgba(214, 215, 216, 0.6);
	text-align: center;
}

.loginBox{
	font-size: 20px;
}

.tResTitle{
	text-align:center;
	margin-bottom: 30px;
	color: #5c768d;
	font-family: 'Binggrae';
}

#joinStuckyiTitle{
	width: 400px; 
	margin: 0px 30%; 
	padding-top:60px;
	
 }
#joinStuckyi{
	width: 600px; 
	padding-left:200px;
	padding-top:60px;
	
 }
 
 #button-join{
    padding-left: 280px;
    padding-bottom: 10%;
 }
 
 #joinTable td{
 	width: 300px;
 	padding:0px;
  border-bottom: 10px solid #fff;
 }
 #joinTable{
 	width: 800px;
 	padding:0px;
 }

#joinTable td.data{
	width: 100px;
	text-align: center;
}


